[submodule "OLD_Tools/Tokei"]
	path = OLD_Tools/Tokei
	url = ./OLD_Tools/Tokei
[submodule "OLD_Tools/Rust-Clippy"]
	path = OLD_Tools/Rust-Clippy
	url = ./OLD_Tools/Rust-Clippy
[submodule "OLD_Tools/Metrixplusplus"]
	path = OLD_Tools/Metrixplusplus
	url = ./OLD_Tools/Metrixplusplus
