[submodule "CC++_Tools_SourceCodes/Tokei"]
	path = CC++_Tools_SourceCodes/Tokei
	url = https://github.com/XAMPPRocky/tokei
[submodule "CC++_Tools_SourceCodes/Rust-Clippy"]
	path = CC++_Tools_SourceCodes/Rust-Clippy
	url = https://github.com/rust-lang/rust-clippy
[submodule "CC++_Tools_SourceCodes/Halstead_Metrics_tool_source-code"]
	path = CC++_Tools_SourceCodes/Halstead_Metrics_tool_source-code
	url = https://github.com/SoftengPoliTo/Halstead-Metrics-Tool
[submodule "CC++_Tools_SourceCodes/CCCC"]
	path = CC++_Tools_SourceCodes/CCCC
	url = https://github.com/SoftengPoliTo/CCCC
[submodule "CC++_Tools_SourceCodes/rust-code-analysis"]
	path = CC++_Tools_SourceCodes/rust-code-analysis
	url = https://github.com/SoftengPoliTo/rust-code-analysis
