[submodule "tools_source_codes/Tokei"]
	path = tools_source_codes/Tokei
	url = https://github.com/XAMPPRocky/tokei
[submodule "tools_source_codes/rust-code-analysis"]
	path = tools_source_codes/rust-code-analysis
	url = https://github.com/SoftengPoliTo/rust-code-analysis
[submodule "tools_source_codes/CCCC"]
	path = tools_source_codes/CCCC
	url = https://github.com/SoftengPoliTo/CCCC
[submodule "tools_source_codes/Halstead_Metrics_Tool"]
	path = tools_source_codes/Halstead_Metrics_Tool
	url = https://github.com/SoftengPoliTo/Halstead-Metrics-Tool
[submodule "tools_source_codes/Maintainability_Index"]
	path = tools_source_codes/Maintainability_Index
	url = https://github.com/SoftengPoliTo/MI
